<%= simple_form_for :store, url: '/stores' do |f| %>
  <div class="container my-4">
    <div>
    <%= f.label 'Enter your location for nearest store:' %>
    <%= f.input :u_address, as: :string, label: ''%>
    <%= f.button :submit,'Search' %>
    </div>
  </div>
<% end %>

<% @stores.each do |store| %>

  <hr>
  <div class="container">
    <div>
      <%= link_to "#{store.title}", show_stores_path(store) %>
    </div>
    <br>
    <div>
      <%= store.full_address %>
    </div>
  </div>

<% end %>
