<% @stores.each do |store| %>

<%= form_tag("/stores", method: "post") do %>
<%= label_tag(:q, "Your Address:") %>
<%= text_input_tag(:q) %>
<%= submit_tag("Search Nearest Store")
<% end %>
  <hr>
  <div class="container">
    <div>
      <%= link_to "#{store.title}", show_stores_path(store) %>
    </div>
    <br>
    <div>
      <%= store.full_address %>
    </div>
  </div>

<% end %>
